@page
@model CatHerder.Web.Pages.HerdModel
@{
}

<div class="text-center">
    <h1 class="display-4">@Model.Herd!.Name</h1>
    <p>Invite others to join your herd @Model.PublicId</p>
    <a asp-page="/Analyse" asp-route-PublicId="@Model.PublicId" >Analyse</a>
    <table class="table">
        <thead>
            <tr>
                <td>&nbsp;</td>
                @foreach (var cat in Model!.Herd!.Cats!)
                {
                    <td>@cat.Name</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var slot in Model!.Herd!.Calendar!.Slots!)
            {
                <tr>
                    <td>@slot.From.ToLocalTime().ToShortDateString()</td>
                    @foreach (var cat in Model!.Herd!.Cats!)
                    {
                        var catEvent = slot.CatEventModels!.FirstOrDefault(cem => cem.Cat.Id == cat.Id);
                        if (cat.PublicId == Model.VisitingCatId)
                        {
                            <td>
                                @await Html.PartialAsync(
                    "_SelectionButton",
                    (cat.Id, slot.Id, CatHerder.Response.Yes, catEvent?.Response)
                    )
                                @await Html.PartialAsync(
                    "_SelectionButton",
                    (cat.Id, slot.Id, CatHerder.Response.No, catEvent?.Response)
                    )                                    @await Html.PartialAsync(
                    "_SelectionButton",
                    (cat.Id, slot.Id, CatHerder.Response.Maybe, catEvent?.Response)
                    )

                            </td>
                        }
                        else
                        {
                            if (catEvent == null)
                            {
                                <td>null</td>
                            }
                            else
                            {
                                <td>@await Html.PartialAsync(
                    "_OthersSelectionButton",
                    (catEvent.Response)
                    )
                               </td>
                            }
                        }

                    }
                </tr>
            }
        </tbody>
    </table>
</div>
